body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.gameSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(../imgs/back.jpg);

}

.gameBox {
    width: 50%;
    height: 90%;
    background-color: #F4D034;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    line-height: 2em;
    margin-bottom: 3%;
}

.gameTitle {
    width: 36%;
    font-size: 3em;
    letter-spacing: .5em;
    color: #1e3499;
    font-weight: 900;
}

.botaoContinuar {
    width: 50%;
    height: 4em;
    border: none;
    border-radius: 3px;
    color:#883337;
    font-size: 1em;
    font-weight: 600;
    background-color:#D78616;
    cursor: pointer;
    margin-bottom: 5%;
}

.botaoContinuar:hover {
    background-color: #883337;
    color: #D78616;
}

.situationText, .choiceText {
    color: #1e3499;
    font-weight: 600;
}

.imgPhOne {
    width: 100%;
    height: 30%;
    background-image: url(../imgs/banner.jpg);
    background-size: cover;
}
